<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/cardstyle.css">
    <div id="cluster-map"
        style="width: 100%; height: 500px; border-radius:30px;box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;">
    </div>
    <h1 style="padding: 25px; ">All Clinic</h1>
    <div>
        <a href="/vects/new">add Clinic</a>
    </div>
    <% for(let vect of vects){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%=vect.images[0].url%>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="cart-title">
                            <%=vect.title%>
                        </h5>
                        <p class="card-text">
                            <%= vect.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= vect.location %>
                            </small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="/vects/<%=vect._id%>">View <%=vect.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%} %>
            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                const vects = { features: <%- JSON.stringify(vects) %>}

            </script>
            <script src="/javascripts/clusterMap2.js"></script>